<!-- views/viewer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="viewer">
        <h1><%= album %></h1>
        <img src="/albums/<%= album %>/<%= image %>" alt="<%= image %>">
        <p><%= image %></p>
    </div>
</body>
</html>